# .env

# disabled next.js telemetry
NEXT_TELEMETRY_DISABLED=1

# neon db uri (https://neon.tech)
DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/crewreadiness?sslmode=require"

# public app url (no trailing slash)
NEXT_PUBLIC_APP_URL=http://localhost:3000
